.heroCard {
    width: 90%;
    border-radius: 15px;
    padding: 19px 5%;
    background-image: linear-gradient(rgba(251, 42, 99, 0.1275), rgba(251, 42, 99, 0.2625));
}

.postCode {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-top: 8.5px;
    padding: 14.4px;
}

.postCode input {
    font-size: 18px;
    border: none;
}

.postCode input:focus {
    outline: none;
    border: none;
}

.button {
    height: 39px;
    text-transform: none !important;
    background-color: var(--primary-bgColor) !important;
    border-radius: 6.3px !important;
    color: white !important;
}

.button span {
    font-size: 11px !important;
    line-height: 18px;
}


.about {
    background-color: var(--primary-bgColor);
    padding: 30px 0 35px 0;
    color: white;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.aboutDescription {
    font-size: 21px;
    font-family: 'Raleway';
    font-weight: 600;
}

.checkSquare {
    height: 66px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.checkImg {
    margin-right: 23px;
}

.checkTitle {
    width: 215px;
    font-size: clamp(1.25rem, 3vw, 1.7rem);
    line-height: clamp(2rem, 4vw, 2.3rem);
    font-weight: 600;
    font-family: 'Raleway';
    text-align: left;
}


.jobTime {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(214, 61, 102, 0.05));
    max-width: 1200px;
    margin: auto;
}

.jobText {
    padding: 90px;
}

.jobTypes {
    width: 100%;
    text-align: center;
}

.jobBox {
    margin-top: 44px;
    width: 170px;
}

.jobIcon {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: var(--primary-bgColor);
    margin: auto;
}

.jobTitle {
    font-size: 26px;
    font-weight: 600;
}


.requirements {
    max-width: 1200px;
    margin: auto;
    background-color: #F5F5F5;
    padding: 40px 0;
}

.requirementCard {
    position: relative;
    width: 740px;
    border-radius: 20px;
    background-color: var(--primary-bgColor);
    padding: 40px 43px;
    margin: 20px;
    color: white;
}

.requirementCardIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 78px;
    height: 68px;
    border-radius: 0 18px 0 20px;
    background-color: white;
}

.faq {
    padding: 160px 70px
}

.faqTitle {
    font-size: 43px;
    text-align: center;
}


.requirementCard .aboutTitle {
    /* font-family: 'Gilroy'; */
    color: #272727;
}

.requirementCard .cardTitle {
    width: 80%;
    margin-top: 10px;
}

@media screen and (max-width: 990px) {

    .button {
        width: 244px;
    }

    .aboutDescription {
        font-size: 19px;
    }

    .checkSquare {
        margin-left: 60px;
    }

    .requirementCard {
        border-radius: 17px;
        width: 600px;
    }

    .requirementCardIcon {
        border-radius: 0 15px 0 17px;
    }

    .jobBox {
        width: 155px;
    }
}

@media screen and (max-width: 768px) {

    .requirementCard .aboutTitle {
        color: white;
    }

    .number,
    .text {
        font-family: 'Raleway' !important;
    }

    .showContainer {
        margin: auto;
        width: 486px;
    }

    .hero {
        background-image: linear-gradient(180deg rgba(251, 42, 99, 0.082), white);
    }

    .topbar {
        background-color: #F5F5F5 !important;
    }

    .socialIcon {
        color: var(--primary-bgColor) !important;
    }

    .button {
        width: 244px;
    }

    .aboutDescription {
        font-size: 17px;
    }

    .checkSquare {
        margin-left: 10px;
        margin-bottom: 0;
    }

    .checkImg {
        width: 25px !important;
    }

    .jobText {
        padding: 0px;
        text-align: center;
    }

    .jobTypes {
        margin-top: 0px;
    }

    .jobIcon {
        width: 80px;
        height: 80px;
        border-radius: 10px;
    }

    .jobBox {
        margin-top: 20px;
        width: 200px;
    }

    .jobIcon img {
        width: 35px;
    }

    .jobTitle {
        font-size: 18px;
    }

    .requirementCard {
        width: 400px;
        padding-top: 70px;
        border-radius: 14px;
    }

    .requirementCardIcon {
        border-radius: 0 11px 0 14px;
    }
}

@media screen and (max-width: 500px) {
    .add {
        width: 100% !important;
    }

    .heroTitle {
        font-size: 20px;
        margin: 25px 0 20px 0;
    }

    .postCode input {
        font-size: 14px;
    }

    .button {
        width: 100% !important;
    }

    .about {
        padding: 20px 0;
    }

    .checkTitle {
        max-width: 190px;
    }

    .aboutDescription {
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
    }

    .jobBox {
        margin-top: 0;
        width: 160px;
    }

    .requirementCard {
        width: 250px;
        border-radius: 6.5px;
        padding: 70px 20px 50px 20px;
        margin: 20px 0;
    }

    .requirementCardIcon {
        border-radius: 0 4px 0 6.5px;
    }

    .featureTitle {
        font-size: 16px;
        font-weight: 800;
        line-height: 24px;
    }

    .showContainer {
        width: 260px;
        padding: 55px 15px;
        margin-top: 20px;
    }

    .number {
        padding: 0 20px;
    }

    .text {
        margin: 0;
    }
}