.footer {
    width: 100%;
    padding: 10px 0;
    background-color: var(--primary-bgColor);
    color: white;
    font-size: 11px;
}

.footerTitle {
    font-size: 32px;
    font-weight: 600;
    font-family: 'RaleWay';
    margin: 20px 0;
}

.footerSubTitle {
    font-size: 12px;
    font-family: 'Inter';
}