.App {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.getting_title {
  font-family: "Raleway";
  margin: auto;
  width: 818px;
  font-weight: 800;
  padding-top: 103px !important;
  padding-bottom: 50px;
  font-size: clamp(2rem, 3.5vw, 3rem);
  line-height: clamp(2.5rem, 3.9vw, 3rem);
  color: #000000;
  text-align: center;
}

.gettingCard_container {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card_wrapper {
  width: 360px;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 6.36px;
  margin-top: 40px;
}

.card_check {
  width: 38px;
  height: 38px;
  margin-left: 20px;
}

.card_title {
  font-size: clamp(1.2rem, 3.5vw, 1.5rem);
  line-height: clamp(1.8rem, 3.5vw, 2.0rem);
  font-weight: 600;
}

.getting_Bar {
  width: 100%;
  margin-top: 140px;
  background: #fb2a63;
}

.bartext1 {
  font-family: "Raleway";
  width: 913.55px;
  font-size: clamp(2rem, 3.5vw, 3rem);
  line-height: clamp(2.5rem, 3.9vw, 3rem);
  font-weight: 800;
  color: #ffffff;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.bartext2 {
  font-family: "Raleway";
  width: 421.01px;
  font-size: clamp(1.2rem, 3.5vw, 1.5rem);
  line-height: clamp(1.8rem, 3.5vw, 2.0rem);
  font-weight: 600;
  color: white;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 25px;
}

.inputsection_container {
  padding: 10px;
  margin-bottom: 75px;
}

.inputheader {
  margin-top: 80px;
}

.inputheader1 {
  display: none;
}

.header_title {
  font-family: "Raleway";
  font-size: clamp(2rem, 3.5vw, 3rem);
  font-weight: 800;
  text-align: center;
}

.liveInfo {
  font-family: "Raleway";
  width: 160px;
  font-size: clamp(1.2rem, 3.5vw, 1.5rem);
  font-weight: 600;
  text-align: center;
  margin: auto;
  margin-top: 12px;
}

.inputbody {
  margin-top: 55px;
  border-radius: 15.36px;
  /* padding: 17.56px; */
  width: 100%;
  background-image: linear-gradient(#f4e1f2, #ebebeb, #ffd7fb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputleft {
  width: 55%;
}

.inputWrapper {
  margin-top: 25px;
}

.inputright {
  width: 35%;
  padding-top: 20px;
  margin-bottom: 30px;
}

.inputlabel {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 28.53px;
}

.findAddBtn {
  font-family: "Inter";
  font-weight: 800;
  width: 47%;
  height: 50px;
  margin-top: 30px;
  background: #fb2a63;
  border: none;
  border-radius: 10.16px;
  color: #ffffff;
  font-size: 22.23px;
}

.checkBish {
  width: 70%;
  padding: 10px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fb2a63;
  border: none;
  border-radius: 10.16px;
  color: #ffffff;
  font-size: 17.7px;
}

.leftInput {
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 12.74px;
  margin-top: 10px;
  padding-left: 30px;
  background: white;
}

.rightInput {
  width: 75%;
  height: 40px;
  border: none;
  border-radius: 9.86px;
  margin-top: 10px;
  padding-left: 30px;
  background: white;
}

@media (max-width: 991px) {
  .getting_title {
    width: 700px;
  }

  .bartext1 {
    width: 760px;
  }

  .bartext2 {
    width: 370px;
  }
}

@media (max-width: 768px) {
  .getting_title {
    padding-top: 80px;
    padding-bottom: 30px;
    width: 100%;
  }

  .card_wrapper {
    width: 500px;
  }

  .getting_Bar {
    margin-top: 100px;
  }

  .bartext1 {
    width: 500px;
  }

  .bartext2 {
    width: 320px;
  }
}

@media (max-width: 624px) {
  .backgroundColor {
    background-color: #d9d9d9;
    padding: 1px;
  }

  .card_wrapper {
    width: 100%;
    height: 100px;
    padding-right: 20px;
  }

  .getting_title {
    padding-top: 45px !important;
    margin-top: 45px;
    margin-bottom: 20px;
    border-radius: 11.43px;
    background-image: linear-gradient(#f4e1f2, #ebebeb, #ffd7fb);
  }

  .getting_Bar {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-radius: 11.43px;
    background-image: linear-gradient(#f4e1f2, #ebebeb, #ffd7fb);
  }

  .bartext1 {
    width: 95%;
    color: #000000;
  }

  .bartext2 {
    width: 270px;
    color: #000000;
    margin-top: 15px;
  }

  .inputheader {
    display: none;
  }

  .inputheader1 {
    display: block;
    margin: auto;
    width: 100%;
    padding-top: 20px;
    border-radius: 11.43px;
    margin-top: 80px;
    background-image: linear-gradient(#f4e1f2, #ebebeb, #ffd7fb);
  }

  .leftInput,
  .rightInput {
    width: 92%;
    background: #f5f5f5;
  }

  .liveInfo {
    padding-bottom: 12px;
  }

  .inputbody {
    margin-top: 55px;
    border-radius: 15.36px;
    width: 100%;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputleft {
    width: 100%;
    margin: auto;
  }

  .inputright {
    width: 100%;
    margin: auto;
  }

  .findAddBtn {
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .checkBish {
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .bartext1 {
    color: #000000;
  }

  .bartext2 {
    width: 270px;
    color: #000000;
  }

  .card_check {
    width: 28px;
    height: 28px;
  }

  .inputheader1 {
    margin: auto;
    width: 100%;
    margin-top: 80px;
  }

  .header_title {
    font-family: "Raleway";
    font-size: clamp(2rem, 3.5vw, 3rem);
    font-weight: 800;
  }

  .liveInfo {
    padding-bottom: 12px;
  }

  .inputlabel {
    font-size: 16.22px;
  }

  .positionIcon {
    top: 80px !important;
  }

  .findAddBtn {
    font-weight: 800;
    font-size: 14.78px;
  }
}